@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

input {
  border: 1px solid #C8D8E6;
  border-radius: 3px;
  outline: none;
  padding: 3px 0px 3px 0px;
}


.row {
  margin: 5px;
  padding: 3px;
}

.width-max-avail {
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.navbar {
  white-space: nowrap;
}

.yield {
  margin: 10px;
}
/* header */

.name {
  min-width: 145px;
}

.bold {
  font-weight: bold;
}

.nowrap {
  white-space: nowrap;
}

div.task {
    overflow: hidden;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  &:hover {
    color: whitesmoke;
    text-decoration: none;
  }
}

#error_row {
  display: none;
  background-color: #d82400;
  font-size: 20px;
}

#error_label {
  color: whitesmoke;
  margin-bottom: 0px;
}

a, a:link, a:visited {
  text-decoration: none;
}

@media (max-width: 767px) {
  div, li {
    font-size: 20px;
  }

  .dropdown-header {
    font-size: 15px;
  }

  #dropdownMenu1 {
    padding: 10px 20px 10px 20px;
  }
}



